<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Form</title>
    <link rel="stylesheet" href="/styles/home.css" />
    <script src="/scripts/script.js" defer></script>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/book.webp" />
  </head>
  <body>
    <div id="main">
      <header>
        <h1>Contact Form</h1>
      </header>

      <form id="contact" action="/submit" method="POST">
          <!--First name-->
          <div class="field-row">
            <div>
          <label for="fname"
            >First Name
            <span id="err-fname" class="err">Field is required</span>
          </label>
          <input type="text" id="fname" name="first_name"/>
        </div>
          <!--Last name-->
          <div>
          <label for="lname"
            >Last Name
            <span id="err-lname" class="err">Field is required</span>
          </label>
          <input type="text" id="lname" name="last_name"/>
        </div>

        <div>
          <label for="jobt">Job Title
             <input type="text" id="jobt" name="job_title" /></label>
        </div>
      </div>
      <!--The second row-->
      <div class="field-row">
        <div>
          <label for="comp">Company <input type="text" id="comp" name="company"/></label>
        </div>
        <div>
          <label for="linkin">
            LinkedIn URL
            <span id="err-linkin" class="err"></span>
            <input type="text" id="linkin" name="linked_in"
          /></label>
        </div>
        <div>
          <!--Email-->
          <label for="email">
            Email Address
            <span id="err-email" class="err"></span>
          </label>
          <input type="text" id="email" name="email" />
        </div>
      </div>

      <!--Third row-->
          <!--Drop down menu-->
      <div class="field-row half">
        <div>
          <label for="meet">How did we meet?
            <span id="err-meet" class="err">Field is required</span>
          </label>
          <select id="meet" name="how_we_met">
            <option value="select">Please Select</option>
            <option value="person">In person</option>
            <option value="online">Online</option>
            <option value="college">College</option>
            <option value="highschool">Highschool</option>
            <option value="jobf">Job Fair</option>
            <option value="other">Other</option>
          </select>
        </div>

          <!--Other option-->
          <div>
          <label for="other"
            >Other (please specify)
            <input type="text" id="other" style="display: none;" name="other"/>
          </label>
         </div>
        </div>

          <!-- Message field -->
           <div>
          <div id="message">
            <label for="msg">Message</label>
            <textarea id="msg" name="message"></textarea>
          </div>

          <!--Checkbox-->
          <div>
          <label for="mailing">
            <input type="checkbox" id="mailing" name="mailing_list" /> Please add me to your mailing
            list
          </label>
        </div>

          <!--Radio buttons-->
          <p>
            Choose an email format:
            <label for="html" style="display: none;"
              >HTML
              <input type="radio" id="html" name="email_format" value="HTML"
            /></label>
            <label for="text" style="display: none;"
              >Text
              <input type="radio" id="text" name="email_format" value="Text"
            /></label>
          </p>

          <!-- Submit button -->
          <button type="submit" id="submit">Submit</button>
        </fieldset>
      </form>
    </div>
  </body>
</html>
